.box{
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: 
   auto;
 grid-template-areas:
   "title"
   "bt1 bt2"
   "qr";
}
.title{
    grid-area: title;
}
.btn1{
    grid-area: bt1;
}
.btn2{
    grid-area: bt2;
}
.qr{
    grid-area: qr;
}